<a href="https://colab.research.google.com/github/XimenaEstudilloG/Tarea5-Array/blob/main/ArraysADT_EDD1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Array:
    def __init__( self , tam ):
        self.__tamanio = tam
        self.__data = [ 0 for x in range( self.__tamanio ) ]

    def to_string(self):
        info = ""
        for dato in self.__data:
            info = info + str(dato) + "|"
        return info   
    
    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len( self.__data )

    def set_item( self , dato , index):
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("Error: Indice fuera de rango")

    def clear( self , dato):
        self.__data = [ dato for x in range( self.__tamanio ) ]


ejemplo = Array(20)
print( ejemplo.to_string() )
print( ejemplo.get_item(2) )
ejemplo.set_item(45, 2 )
print( ejemplo.to_string() )
ejemplo.clear( 4 )
print( ejemplo.to_string() )
print( ejemplo.get_length())

0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
0
0|0|45|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|
20

In [ ]:
lista = [ 3 * x for x in range(10) ]
print(lista)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [1]:
class Trabajador:
    def __init__(self, nt, nom, pat, mat, he, sb, ai):
        self.__numero_trabajador = nt
        self.__nombre = nom
        self.__apellido_paterno = pat
        self.__apellido_materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_de_ingreso = ai

    def to_string( self ):
        return "No. de trabajador:" + str(self.__numero_trabajador) + "Nombre:" + self.__nombre + "Apellido Paterno:" + self.__apellido_paterno + "Apellido Materno:" + self.__apellido_materno + "Horas extra:" + str(self.__horas_extra) + "Sueldo base:" + str(self.__sueldo_base) + "Año de ingreso:" + str(self.__anio_de_ingreso)
    
    def set_numero_trabajador( self , nt):
        self.__numero_trabajador = nt

    def get_numero_trabajador( self ):
        return self.__numero_trabajador 

    def set_nombre( self , nom):
        self.__nombre = nom

    def get_numero_trabajador( self ):
        return self.__nombre   

    def apellido_paterno( self , pat):
        self.__apellido_paterno = pat

    def get_apellido_paterno( self ):
        return self.__apellido_paterno  

    def set_apellido_materno( self , mat):
        self.__apellido_materno = mat

    def get_apellido_materno( self ):
        return self.__apellido_materno 

    def set_horas_extra( self , he):
        self.__horas_extra = he

    def get_horas_extra( self ):
        return self.__horas_extra

    def set_sueldo_base( self , sb):
        self.__sueldo_base = sb

    def get_sueldo_base( self ):
        return self.__sueldo_base

    def set_anio_de_ingreso( self , ai):
        self.__anio_de_ingreso = ai

    def get_anio_de_ingreso( self ):
        return self.__anio_de_ingreso

    def calcular_sueldo_mensual( self ):
        anios = 2021 - self.get_anio_de_ingreso()

        sueldo = self.get_sueldo_base()
        #agregarle horas extra
        sueldo += self.__get_horas_extra() * 276.5
        #agregar prestaciones por antiguedad
        sueldo = sueldo + ( sueldo * anios * 0.03 )

    def to_string( self ):
        return "Nombre:" + self.__nombre + str(self.calcular_sueldo_mensual())

    def calcular_antiguedad( self ):
            return 2021 = self.get_anio_de_ingreso()

emp = Trabajador(2345, 'Carlos' , 'Perez' , 'Castillo' , 1 , 9850 , 2017)
print(emp.get_sueldo_base())
print(emp.get_horas_extra())
print(emp.calcular_antiguedad())
print(emp.to_string())

SyntaxError: ignored

In [ ]:
class NominaADT:
    def __init__( self , ruta_archivo ):
        ruta_archivo = open('junio.dat' , 'rt')
        self.__num_empleados = ne
        informacion = ruta_archivo.read()
        print(informacion)
        self.__data = Array 

    def get_length( self ):
        return len( self.__data )

    def calcular_sueldos( self ):
        #iterar sobre el Array y hacer el calculo de sueldos

    def busar_mas_antiguo( self, dato , index):
        if index >= 2016 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("No es el más antiguo") 

    def buscar_menor_antiguedad( self ):
        if index > self.get_length(): and index < 2021
            self.__data[index] = dato
        else:
            print("Es de los más antiguos")

IndentationError: ignored

In [ ]:
sueldo_base = 100
anio_ingreso = 2019
antiguedad = 2
prestacion = 100 *(2 * 0.03)
print(sueldo_base + prestacion)

106.0