<a href="https://colab.research.google.com/github/XimenaEstudilloG/Tarea5-Array/blob/main/ArraysADT_EDD1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class Array:
    def __init__( self , tam ):
        self.__tamanio = tam
        self.__data = [ 0 for x in range( self.__tamanio ) ]

    def to_string(self):
        info = ""
        for dato in self.__data:
            info = info + str(dato) + "|"
        return info   
    
    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len( self.__data )

    def set_item( self , dato , index):
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("Error: Indice fuera de rango")

    def clear( self , dato):
        self.__data = [ dato for x in range( self.__tamanio ) ]


ejemplo = Array(20)
print( ejemplo.to_string() )
print( ejemplo.get_item(2) )
ejemplo.set_item(45, 2 )
print( ejemplo.to_string() )
ejemplo.clear( 4 )
print( ejemplo.to_string() )
print( ejemplo.get_length())

0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
0
0|0|45|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|
20

In [ ]:
lista = [ 3 * x for x in range(10) ]
print(lista)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [10]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [50]:
class Trabajador:
    def __init__(self, nt, nom, pat, mat, he, sb, ai):
        self.__numero_trabajador = nt
        self.__nombre = nom
        self.__apellido_paterno = pat
        self.__apellido_materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_de_ingreso = ai

    def to_string( self ):
        return "No. de trabajador:" + str(self.__numero_trabajador) + "Nombre:" + self.__nombre + "Apellido Paterno:" + self.__apellido_paterno + "Apellido Materno:" + self.__apellido_materno + "Horas extra:" + str(self.__horas_extra) + "Sueldo base:" + str(self.__sueldo_base) + "Año de ingreso:" + str(self.__anio_de_ingreso)
    
    def set_numero_trabajador( self , nt):
        self.__numero_trabajador = nt

    def get_numero_trabajador( self ):
        return self.__numero_trabajador 

    def set_nombre( self , nom):
        self.__nombre = nom

    def get_numero_trabajador( self ):
        return self.__nombre   

    def set_apellido_paterno( self , pat):
        self.__apellido_paterno = pat

    def get_apellido_paterno( self ):
        return self.__apellido_paterno  

    def set_apellido_materno( self , mat):
        self.__apellido_materno = mat

    def get_apellido_materno( self ):
        return self.__apellido_materno 

    def set_horas_extra( self , he):
        self.__horas_extra = he

    def get_horas_extra( self ):
        return self.__horas_extra

    def set_sueldo_base( self , sb):
        self.__sueldo_base = sb

    def get_sueldo_base( self ):
        return self.__sueldo_base

    def set_anio_de_ingreso( self , ai):
        self.__anio_de_ingreso = ai

    def get_anio_de_ingreso( self ):
        return self.__anio_de_ingreso

    def calcular_sueldo_mensual( self ):
        anios = 2021 - self.get_anio_de_ingreso()

        sueldo = self.get_sueldo_base()
        #agregarle horas extra
        sueldo += self.get_horas_extra() * 276.5
        #agregar prestaciones por antiguedad
        sueldo = sueldo + ( sueldo * anios * 0.03 )
        return sueldo

    def calcular_antiguedad( self ):
        ant = 2021 - self.get_anio_de_ingreso()

        antiguedadd = self.get_anio_de_ingreso()
        antiguedadd = 2021 - self.get_anio_de_ingreso()
        return antiguedadd

    def to_string( self ):
        return "Número de trabajador: " + str(self.__numero_trabajador) + " --> " + "Nombre: " + self.__nombre + " " + self.__apellido_paterno + " " + self.__apellido_materno + " --> " + " Sueldo: $" + str(self.calcular_sueldo_mensual()) + " pesos. " + " --> " + "Su antigüedad es de: " + str(self.calcular_antiguedad()) + " años. "

    def calcular_antiguedad(self):
        return 2021 - self.get_anio_de_ingreso()

    def mayor_antiguedad(self):
        return "El empleado que tiene más antiguedad es: " + self.__nombre + " " + self.__apellido_paterno + " " + self.__apellido_materno + " --> " + " Su antigüedad es de: " + str(self.calcular_antiguedad()) + " años."

    def menor_antiguedad(self):
        return "El empleado que tiene menos antiguedad es: " + self.__nombre + " " + self.__apellido_paterno + " " + self.__apellido_materno + " --> " + " Su antigúedad es de: " + str(self.calcular_antiguedad()) + " años."

emp = Trabajador(2345, 'Carlos' , 'Perez' , 'Castillo' , 1 , 9850 , 2017)
print(emp.get_sueldo_base())
print(emp.get_horas_extra())
print(emp.calcular_antiguedad())
print(emp.to_string())

9850
1
4
Número de trabajador: 2345 --> Nombre: Carlos Perez Castillo -->  Sueldo: $11341.68 pesos.  --> Su antigüedad es de: 4 años.

In [62]:
class NominaADT:
    def __init__( self , ruta_archivo ):
        archivo = open(ruta_archivo , 'rt' , encoding='latin-1')
        empleados = archivo.readlines()
        del empleados[0]
        for index in range(len(empleados)):
            empleados[index] = empleados[index].strip().split(',')
        
        self.__data = Array( len(empleados) )
        cont = 0

        for emp in empleados:
            trp = Trabajador( int(emp[0]) , emp[1] , emp[2] , emp[3] , int(emp[4]) , int(emp[5]) , int(emp[6]) )
            self.__data.set_item( trp , cont)
            cont += 1

    def calcular_sueldos( self ):
        for index in range(self.__data.get_length()):
            print(self.__data.get_item(index).to_string() )

    def buscar_mayor_antiguedad( self, dato , index):
        for index in range(self.__data.get_length()):
            if mayor.calcular_antiguedad() < menor.calcular_antiguedad():
                mayor = menor
                menor = self.__data.get_item(index)
            else:
                menor = self.__data.get_item(index)
        print(mayor.mayor_antiguedad())
 
    def buscar_menor_antiguedad( self ):
        for index in range(self.__data.get_length()):
            if mayor.calcular_antiguedad() < menor.calcular_antiguedad():
                menor = mayor
                mayor = self.__data.get_item(index)
            else:
                mayor = self.__data.get_item(index)
        print(menor.menor_antiguedad())

ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()
ejemplo.buscar_mayor_antiguedad()
ejemplo.buscar_menor_antiguedad()

Número de trabajador: 2345 --> Nombre: CARLOS PEREZ CASTILLO -->  Sueldo: $11032.0 pesos.  --> Su antigüedad es de: 4 años.
Número de trabajador: 5754 --> Nombre: ANGEL GOMEZ GARRIDO -->  Sueldo: $10430.295 pesos.  --> Su antigüedad es de: 1 años.
Número de trabajador: 5345 --> Nombre: JESUS MARTIN SANTOS -->  Sueldo: $11963.45 pesos.  --> Su antigüedad es de: 5 años.
Número de trabajador: 3267 --> Nombre: DAVID JIMENEZ LOZANO -->  Sueldo: $11651.36 pesos.  --> Su antigüedad es de: 4 años.
Número de trabajador: 8765 --> Nombre: PEDRO RUIZ GUERRERO -->  Sueldo: $11651.36 pesos.  --> Su antigüedad es de: 4 años.
Número de trabajador: 5454 --> Nombre: DANIEL HERNANDEZ CANO -->  Sueldo: $11640.655 pesos.  --> Su antigüedad es de: 3 años.
Número de trabajador: 3456 --> Nombre: ALEJANDRO DIAZ PRIETO -->  Sueldo: $11339.27 pesos.  --> Su antigüedad es de: 3 años.
Número de trabajador: 3445 --> Nombre: MARIA MORENO MENDEZ -->  Sueldo: $11037.885 pesos.  --> Su antigüedad es de: 3 años.
Número de trabajador: 9088 --> Nombre: ALBERTO MUOZ CRUZ -->  Sueldo: $11341.68 pesos.  --> Su antigüedad es de: 4 años.
Número de trabajador: 8877 --> Nombre: RAFAEL ALVAREZ FLORES -->  Sueldo: $11651.36 pesos.  --> Su antigüedad es de: 4 años.
Número de trabajador: 6767 --> Nombre: FERNANDO ROMERO HERRERA -->  Sueldo: $11613.36 pesos.  --> Su antigüedad es de: 2 años.
Número de trabajador: 5654 --> Nombre: PABLO ALONSO GALLEGO -->  Sueldo: $10734.09 pesos.  --> Su antigüedad es de: 2 años.
Número de trabajador: 4323 --> Nombre: JORGE GUTIERREZ MARQUEZ -->  Sueldo: $10715.09 pesos.  --> Su antigüedad es de: 1 años.
Número de trabajador: 2232 --> Nombre: RAMON NAVARRO LEON -->  Sueldo: $11645.475 pesos.  --> Su antigüedad es de: 5 años.

TypeError: ignored

In [ ]:
sueldo_base = 100
anio_ingreso = 2019
antiguedad = 2
prestacion = 100 *(2 * 0.03)
print(sueldo_base + prestacion)

106.0